<div class="flex justify-around my-14">
  <h1 class="text-4xl font-semibold second-heading">Have any journey idea?</h1>

  <h1 class="text-4xl font-semibold second-heading">Don't know where to go next? Let Paganel help you!</h1>
</div>