<div class="home-container pt-10 px-10 text-center xl:px-22">
  <div class="md:flex md:flex-row-reverse md:justify-between lg:flex-row">
    <h1 class="main-heading text-4xl md:w-2/6 md:text-5xl lg:mt-16 lg:text-6xl xl:w-1/5 xl:text-7xl">Travel with Paganel!</h1>
    <div class="md:w-2/6 md:text-left lg:text-right xl:mt-8">
      <h5 class="description text-md my-3 leading-7 lg:hidden">Looking for your next adventure? Look no further than our site! We're your one-stop-shop for all things travel.</h5>
      <h5 class="description text-2xl my-10 mx-5 leading-8 hidden font-semibold lg:block lg:my-0 lg:text-right xl:leading-10">Looking for your next adventure? Look no further than our site! We're your one-stop-shop for all things travel. Whether you're a seasoned traveler or a newbie, our site is the perfect companion for your next journey. So why wait?</h5>
      <button class="main-button mt-5 rounded-lg text-lg px-5 py-3 font-bold focus:outline-none">Plan my next journey!</button>
    </div>
  </div>
</div>
