@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #c0cfd6;
}

.home-container {
  background-image: url('banner-sm.jpg');
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-heading {
  color: #fa6e53;
  font-family: 'Kalam', cursive;
  text-shadow: 0px 0px 13px #9cd5e6;
}

.second-heading {
  color: #fa6e53;
  text-shadow: 0px 0px 13px #ffffff;
}

.main-button {
  background-color: #fa6e53;
  color: #ffffff;
  box-shadow: 6px 6px 23px 6px rgb(156, 213, 230);
}

.main-button:hover {
  background-color: #dc9847;
}

.description {
  color: #dc9847;
}

.globe-container,
.globe {
    width: 200px;
    height: 200px;  
}
.globe-container {
    position: relative;  
    display: inline-block;
    margin: 30px;
    transform: scale(1.1);
}
.globe {
    position: relative;  
    display: block;
    margin: 0;
    padding: 0;
    top: 0; 
    left: 0;
}
.globe-worldmap,
.globe-worldmap-front,
.globe-worldmap-back,
.globe-sphere,
.globe-outer-shadow,
.globe-inner-shadow {
    position: absolute; 
    display: block; 
    margin: 0; 
}
.globe-sphere,
.globe-outer-shadow,
.globe-inner-shadow {
    left: 0; 
    top: 0; 
    width: 200px; 
    height: 200px;
    background-position: 0 0; 
    background-repeat: no-repeat;
}
.globe-worldmap {
    left: 0; 
    top: 0; 
    width: 200px; 
    height: 200px; 
    overflow: hidden;
    border-radius: 50%;
}
.globe-worldmap-front,
.globe-worldmap-back {
    left: 0; 
    top: 0; 
    width: 1000px; 
    height: 200px; 
    overflow: visible;
    background-image: url(worldmap.svg);
    background-repeat: no-repeat;
}
.globe-outer-shadow { 
    left: 0; 
    top: 186px; 
    width: 200px; 
    height: 30px;
    background-image: url(outer_shadow.svg);
}
.globe-inner-shadow { 
    background-image: url(inner_shadow.svg);
}
 
.globe-worldmap-front { 
    background-position: 0px 0px;
    animation: textureSpinreverse 8s linear infinite;
}
.globe-worldmap-back { 
    background-position: 0px -220px;
    animation: textureSpin 8s linear infinite;
}
 
@keyframes textureSpin {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-47.5%);
    }
}
@keyframes textureSpinreverse {
    from {
        transform: translateX(-47.5%);
    }
    to {
        transform: translateX(0);
    }
}

@media (min-width: 768px) {
  .home-container {
    background-image: url('banner-md.jpg');
  }

  .planner-container {
    background-image: url('planner-banner.jpg');
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: 1536px) {
  .home-container {
    background-image: url('banner-lg.jpg');
  }

  .planner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
